################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskManagement
/TaskManagement.API/bin/Debug/net8.0
/TaskManagement.API/obj
